<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: peachpuff;
        }
        .title{
            display: flex;
        }
    </style>
</head>
<body>
    {%load static%}
    
    <img src="{% static '더미덤5.gif'%}" alt="">
    <h1 >오늘은 daily★</h1>

    
    {% if user.is_authenticated %}
    <button class = 'title' ><a href="{%url 'new'%}">새글 등록하기</a></button>
    <button><a href="{%url 'logout'%}">로그아웃 하기</a></button>
    <h3>반갑습니다. {{user.username}}님</h3>
    <h5>{{user.birthday}}</h5>
    <h5>{{user.gender}}</h5>
    {%else%}
    <button class = 'title '><a href="{%url 'login'%}">로그인 하기.</a></button>
    <button><a href="{%url 'signup'%}">회원가입 하기</a></button>
    
    {%endif%}
    
    <br>
    <!-- {{writings}} -->
    {%for writing in writings %}
    <hr>
    
    <h3>{{writing.title}}</h3>
    <button class = 'title'><a href="{%url 'detail' writing.id%}">더보기</a></button>
    <p>{{writing.pub_date}}</p>
    <p>{{writing.summary}}</p>
    <p>작성자 : {{writing.writer}}</p>
    <br>
    {%if writing.image%}
        <img src="{{writing.image.url}}" alt="">
    {%endif%}

    {% endfor %}
</body>
</html>