<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%load static%}
    
    <img src="{% static '더미덤5.gif'%}" alt="">
    <h1>지희의 하루</h1>
    <button><a href="{%url 'new'%}">새글 등록하기</a></button>
    <br>
    <!-- {{writings}} -->
    {%for writing in writings %}
    <hr>
    <button><a href="{%url 'detail' writing.id%}">더보기</a></button>
    <h3>{{writing.title}}</h3>
    <p>{{writing.pub_date}}</p>
    <p>{{writing.summary}}</p>
    <br>
    <img src="{{writing.image.url}}" alt="">

    {% endfor %}
</body>
</html>