<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: peachpuff;
        }
    </style>
    
</head>
<body>
    <h1>{{select.title}}</h1>
    {%if select.image%}
        <img src="{{select.image.url}}" alt="">
        <hr>
    {%endif%}
    <p>{{select.pub_date}}</p>
    <hr>
    <p>{{select.body}}</p>
   

    <button><a href="{%url 'begin'%}">시작화면으로 가기</a></button>
    <button><a href="{%url 'edit' select.id%}">수정하기</a></button>
    <button><a href="{%url 'delete' select.id%}">삭제하기</a></button>
    <button><a href="{%url 'likes' select.id %}">추천하기</a></button>
    <p>{{like_num}}명이 추천중입니다.</p>
    {% if messages %}
    {% for message in messages %}
       {{ message.tags }}
       {{ message.message }}
    {% endfor %}
     {% endif %}


    <hr>
    <h5>댓글</h5>
    <form action="{% url 'commenting' select.id %}" method = 'POST'>
        {%csrf_token%}
        <input type="text" name = body>
        <button type="submit">작성</button>
    </form>
    <hr>
    {%for comment in comments%}
    작성자 : {{comment.commentAuthor}}
    <br>{{comment.body}}
    <br>{{comment.pub_date}}
    <hr>
    <br>{%endfor%}

</body>
</html>