<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: peachpuff;
        }
    </style>
    
</head>
<body>
    <h1>{{select.title}}</h1>
    {%if select.image%}
        <img src="{{select.image.url}}" alt="">
        <hr>
    {%endif%}
    <p>{{select.pub_date}}</p>
    <hr>
    <p>{{select.body}}</p>
   

    <button><a href="{%url 'begin'%}">시작화면으로 가기</a></button>
    <button><a href="{%url 'edit' select.id%}">수정하기</a></button>
    <button><a href="{%url 'delete' select.id%}">삭제하기</a></button>

</body>
</html>